<head>
    <!-- load jQuery and DataTables output style and scripts -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</head>

<h2>Image upload history:</h2>
<table id="demo" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Function</th>
            <th>Image</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody id="imageTables">
    </tbody>
</table>

<script>
    //setting up url
    // const apiUrl = "http://localhost:8017/api/pixel-partner-api/get_database";
    // apiUrl2 = "http://localhost:8017/api/pixel-partner-api/clear_database";
    const apiUrl2 = "https://fte.stu.nighthawkcodingsociety.com/api/pixel-partner-api/clear_database";
    const apiUrl = "https://fte.stu.nighthawkcodingsociety.com/api/pixel-partner-api/get_database";
    let images = [];
    let downloadButtons = [];
    // handle downloading images
    function downloadImage(imageData, imageName) {
        const link = document.createElement('a');
        link.href = 'data:image/jpeg;base64,' + imageData; // Update the MIME type if needed
        link.download = imageName;
        link.click();
    }
    //fetches data from the url
    function fetchDatabase() {
        $(document).ready(function () {
            $.noConflict();
        });
        fetch(apiUrl)
        //parsing as json
        .then(response => response.json())
        .then(response => {
            var images = JSON.parse(response).reverse();
            console.log(images);
            for (var element of images) {
                var fileExtension = element.name.split('.').pop();
                var downloadButton = `<button onclick="downloadImage('${element.image}', '${element.name}')">Download</button>`;
                var imageTag = `<img src="data:image/${fileExtension};base64,${element.image}" width="100" height="100" />`;

                $('#demo').DataTable().row.add({
                    0: element.name,       // Name
                    1: element.func,       // Function
                    2: imageTag,           // Image (display the image)
                    3: downloadButton,     // Download
                }).draw();
            }
        })
    }
    //calls function to fetch database
    fetchDatabase();

    function clearDatabase() {
        fetch(apiUrl2, {method: 'GET'})
    }
</script>

<button onclick="clearDatabase()">Press this button to clear the data</button>
<h2>Image upload history:</h2>
<table id="imageTables">
    <tr>
        <th>Name</th>
        <th>Function</th>
        <th>Image</th>
    </tr>
</table>D